:root {
	--dark: #191919;
	--bright: #fec20c;
	--smaller: .75;
	--slide: -88%;
}

@font-face {
	font-family: "graffiti";
	src: url("fonts/DonGraffiti.otf");
}

@font-face {
	font-family: "franklin";
	src: url("fonts/FRANKGO.ttf");
}

@font-face {
	font-family: "helvetica";
	src: url("fonts/HelveticaNeue.ttf");
}

@font-face {
	font-family: "helveticaB";
	src: url("fonts/HelveticaNeueBold.ttf");
}

@font-face {
	font-family: "subway";
	src: url("fonts/lcddot_tr.ttf");
}

img{
	width: 100px;
	height: 100px;
}

* {
	font-family: "helveticaB";
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

html, body {
	min-height: 100vh;
	width: 100%;
	position: relative;
	padding: 0;
	margin: 0;
}
 
  
body {
	background-color: var(--dark);
	overflow-x: hidden;
	font-size: 1vw;
}

.container {
color: var(--bright);
margin: 0 auto;
text-align: center;
}

h1 {
font-weight: normal;
letter-spacing: .125rem;
font-size: 4.5em;
line-height: 0.85em;
}


@media all and (max-width: 768px) {
	h1 {
		font-size: calc(1.5rem * var(--smaller));
	}

	li {
		font-size: calc(1.125rem * var(--smaller));
	}

	li span {
		font-size: calc(3.375rem * var(--smaller));
	}

	#logo{
		width: 15em!important;
	}
	
	.centerContainer > div > #mousImg > img{
		width: 60vw!important;
	}

	.sideImgContainer > img{
		width: 12em!important;
		height: 12em!important;
	}

	.arrowDownContainer > img:first-child{
		width: 20em!important;
	}

	.arrowDownContainer > img:last-child{
		width: 2em!important;
	}

	#stepsUpContainer > .arrow{
		width: 75%!important;
	}

	.infinityWrapper {
		width: 73%!important;
	}

	:root {
		--slide: -59%!important;
	}

	#textContainer > div{
		line-height: 13em!important;
	}

	#textContainer > div h2{
		font-size: 15em!important;
	}

	#textContainer > div h2:first-child{
		font-size: 12em!important;
	}

	#footer .first{
		font-size: 3em!important;
	}

	#footer .second{
		font-size: 5em!important;
	}

	#footer .socials img{
		height: 4em!important;
		margin: 3em 1em!important;
	}

	.flexContainer > div{
		width: 80%!important;
		font-size: 3.2em!important;
	}

	#coreVisionContainer > img{
		width: 27em!important;
		margin-left: -11em!important;
	}
}

.contentContainer{
	width: 100vw;
	display: flex;
	flex-direction: column;
}

#logo{
	position: absolute;
	left: 1em;
	top: 1em;
	width: 10em;
	height: auto;
}

.centerContainer{
	height: 85vh;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.centerContainer>div{
	width: 100%;
	display: flex;
	align-items: end;
	justify-content: center;
}

.centerContainer > div > #mousImg > img{
	width: 40vw;
	height: auto;
}

.centerContainer>div>div:first-child{
	visibility: hidden;
}

.sideImgContainer > img{
	width: 8em;
	height: 8em;
	margin-bottom: 8em;
	margin-left: -4em;
}

.arrowDownContainer{
	width: 100%;
	height: 15vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.arrowDownContainer > img:first-child{
	width: 10em;
	height: auto;
	padding-bottom: 1em;
}

.arrowDownContainer > img:last-child{
	filter: invert(100%);
	width: 1em;
	height: auto;
}

#stepsUpContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 5em;
}

#stepsUpContainer > .arrow{
	width: 50%;
	height: auto;
}

#stepsUpContainer > .infinityWrapper{
	overflow-x: hidden;
}

#stepsUpContainer > .infinityWrapper > p{
	color: #d61919;
	text-shadow: 0px 0px 10px #d61919;
}

.dotted{
	width: 100%;
	font-family: "subway";
}

#coreVisionContainer{
	padding: 10em 0em;
	position: relative;
}

#coreVisionContainer > img{
	position: absolute;
	width: 20em;
	height: auto;
	margin-left: -8em;
}

.flexContainer{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.flexContainer *{
	transition-duration: 0.3s;
}

.flexContainer > div {
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	width: 35%;
	height: auto;
	margin: 2em;
	color: #fff;
	text-align: justify;
	font-size: 1.4em;
	position: relative;
	border-radius: 50%;
}

.flexContainer > div > img{
	width: 100%;
	height: auto;
	border-radius: 2em;
	filter: brightness(50%);
}

.flexContainer > div > h3{
	position: absolute;
	font-family: "graffiti";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2.5em;
	letter-spacing: 0.1em;
}

.flexContainer > div > p{
	opacity: 0;
	position: absolute;
	padding: 0em 2em;
	top: 50%;
	transform: translate(0%, -50%);
}

.flexContainer > div:hover > img{
	filter: brightness(20%);
}

.flexContainer > div:hover > h3{
	opacity: 0;
}

.flexContainer > div:hover > p{
	opacity: 1;
}

#textContainer{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 7em;
}

#textContainer > div{
	text-align: left;
	line-height: 7.5em;
}

#textContainer > div h2{
	font-size: 9em;
	font-family: "franklin";
	letter-spacing: 0.05em;
	transition-duration: 0.5s;
}

#textContainer > div h2:hover{
	color: #fff9aa!important;
	transition-duration: 0.5s;
}

#textContainer > div h2:first-child{
	line-height: 1em;
	font-size: 6em;
	font-family: "helvetica";
}

#footer{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

#footer *{
	color: #fff;
}

#footer .line{
	position: absolute;
	top: 0;
	height: 3px;
	width: 100%;
	color: #fff;
	background-color: #fff;
}

#footer .first{
	font-family: "helvetica";
	font-size: 1.25em;
}

#footer .second{
	font-family: "helveticaB";
	font-size: 2em;
}

#footer .socials img{
	height: 2em;
	width: auto;
	margin: 1.5em 0.5em;
}

.graffiti{
	font-family: "graffiti";
}

/* infinity wrapper */

.infinityWrapper {
    width: 49%;
    transform: translate(0%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.infinityWrapper > p{
    white-space: nowrap;
    left: 0%;
    animation: marquee 5s linear infinite;
    font-size: 3em;
    text-transform: uppercase;
}

@keyframes marquee {
    0% {
        transform: translate(0%, 0);
      }
      100% {
        transform: translate(var(--slide), 0);
      }
}

/* infinity wrapper finish*/

